* {
  font-family: "Khula", sans-serif;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
}
img,
video {
  width: 100%;
}
li {
  list-style: none;
}
nav {
  position: fixed;
}
/* Global styels */
:root {
  --primary-color: #ffffff;
  --accent-color-1: #b8e3f0;
  --accent-color-2: ;
}
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
p {
  line-height: 1.5;
  margin: 20px;
}
a {
  text-decoration: none;
  transition: opacity 0.15s ease-in-out;
  font-weight: 600;
  color: inherit;
}
/* Block styles */
.cell-image {
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}
.container_projects {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  margin: 20px;
}
.nav-list {
  list-style: none;
  display: inline-block;
  justify-content: space-around;
  padding-left: 10px;
  position: fixed;
}
.nav-list__link {
  display: inline-block;
  width: 80px;
  height: 30px;
  font-family: "Khula", sans-serif;
  font-size: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: black;
  background-color: var(--accent-color-1);
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.case {
  display: inline-block;
  justify-content: center;
  border: 2px solid var(--accent-color-2);
}
.case-title {
  display: flex;
  justify-content: center;
}
.case-name {
  display: flex;
  justify-content: center;
}
.logos,
.fliers,
.media {
  background-color: var(--accent-color-1);
  text-align: center;
}
.bottom_buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.bottom-title {
  font-size: 1rem;
}
.bottom-description {
  font-size: 0.5rem;
}
.website, .footer, .website-language {
  display: grid;
  justify-content: center;
}


@media all and (max-width: 320px) {
  .container {
    display: grid;
  }
  li {
    display: block;
    margin: 5px 0px;
  }
}
@media all and (max-width: 1100px) {
  .container {
    display: grid;
  }
  li {
    display: block;
    margin: 5px 0px;
  }
}
