* {
  font-family: "Khula", sans-serif;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
img,
video {
  width: 100%;
}

li {
  list-style: none;
}
a {
  display: flex;
  justify-content: center;
}
a:hover {
  background-color: var(--accent-social-3);
}
/* Global styels */
:root {
  --primary-color: #ffffff;
  --accent-color-1: #b8e3f0;
  --accent-color-2: #dcf5f7;
  --accent-social-3: #f2a7f7;
}
hr {
  border: none;
}
/* Block styles */
.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 50px;
  margin-top: 20px;
}
.nav-item:hover {
  opacity: 0.7;
  background-color: var(--accent-color-1);
}
.nav-list__link {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 30px;
  font-family: "Khula", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: black;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.contact,
.about,
.resume {
  border: 2px solid var(--accent-color-1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.home-container {
  margin: 20px;
  background-color: white;
}
.mypic-image {
  display: flex;
  justify-items: center;
  width: 200px;
  height: 200px;
}
.greeting-pic {
  display: flex;
  justify-content: flex-end;
}
.intro {
  display: flex;
  justify-content: center;
  font-family: "Khula", sans-serif;
  padding-top: 10px;
  margin: 20px;
}
.bio-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.bio-content {
  font-size: 3rem;
  margin-left: 20px;
  margin-top: 3px ;
}
.intro-bio-container {
  display: flex;
  justify-content: center;
  /* margin: 20px; */
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
}
.case {
  display: flex;
  justify-content: center;
  border: 2px solid var(--accent-color-2);
}
.case-container,
.case {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.case-title {
  display: flex;
}
.case-container-label {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Khula", sans-serif;
}
/* .case-name {
  display: flex;
  justify-content: left;
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */
/* .mysensar-logo {
  display: inline-block;
  justify-content: center;
  /* width: 283px;
  height: 250px; */
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */
.mysensar-screen-1,
.veality-logo {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.mysensar-navigation-screens {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.veality-logo {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sidegigs-logo {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 75px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.mysensar-button,
.veality-button {
  margin: 20px;
  color: white;
}
.mysensar,
.veality {
  display: flex;
  justify-content: center;
  position: relative;
  width: 50%;
}
.sidegigs-button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.mysensar-link:hover,
.sidegigs-link:hover,
.veality-link:hover {
  opacity: 0.7;
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sidegigs-logo {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 160px;
}
/* .logos,
.fliers,
.media {
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 2px solid var(--accent-color-1);
}
.logos:hover,
.fliers:hover,
.media:hover {
  opacity: 0.7;
  background-color: var(--accent-social-3);
} */
.veality-logo,
.mysensar-screen-1 {
  display: flex;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: red;
}
.overlay-veality {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: blue;
}
.overlay-sidegigs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: peachpuff;
}
.mysensar:hover .overlay {
  opacity: 1;
}
.veality:hover .overlay-veality {
  opacity: 1;
}
.sidegigs-button:hover .overlay-sidegigs {
  opacity: 1;
}
.text {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.bottom_buttons {
  display: flex;
  justify-content: center;
}
.bottom-title {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bottom-description {
  font-size: 0.5rem;
}
.footer,
.website {
  display: flex;
  justify-content: center;
  padding: 2px;
  font-size: 16px;
  font-weight: 700;
}
/* @media all and (max-width: 520px) {
  .case-container,
  .case {
    display: flex;
    justify-content: center;
  }
  .home-container {
    display: flex;
    justify-content: center;
  }
  li {
    display: block;
    margin: 5px 0px;
  }
  .bottom_buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
  }
  .case-logo {
    display: inline-block;
    justify-content: center;
  }
  .sidegigs-button, .sidegigs-link {
    display: flex;
    justify-content: center;
  }
  .footer, .website {
    display: grid;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700; 
  }
@media all and (max-width: 1220px) {
  .case-container,
  .case {
    display: flex;
    justify-content: center;
  }
  li {
    display: flex;
    margin: 5px 0px;
  }
  .bottom_buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
  }
  .case-logo {
    display: inline-block;
    justify-content: center;
  }
  .footer, .website {
    display: grid;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;  
  }
} */
