<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="./about.css"/>
    <link rel="stylesheet" href="./media.css">
    <link rel="stylesheet" href="./logos.css">
    <link rel="stylesheet" href="./certificate.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>About</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </div>
    </header>
    <div class="about-container">
      <h2 class="about-name">Nishi "Nisha" Haider</h2>
      <p class="about-description">
        I'm based in Indianapolis (willing to relocate), currently freelancing for Dweeb Global as UX
        Designer and working part-time as an Apple iOS Technical Advisor. Having
        recently graduated from an intensive 12-month project-based UX UI
        program at Kenzie Academy, whereby I gained experience conceptualizing
        designs and applying every aspect of UX/UI design skills to create
        dynamic apps. I was a productive and efficient member of the remote and
        in-person agile teams.
        <hr>
        Prior to that, I was a social media manager / Executive Assistant for Deaf Kids Code whereby I
        successfully created campaigns to bring the non-for-profit organization to the national stage.
        And sales associate at Deutsche Bank where I on-boarded several high-net-worth clients.
        <hr>
        I'm passionate about learning new skills and - from graphic design tools to emerging
        design trend to build products at scale that people love.
        <hr>
        In my spare time, I enjoy traveling and learning from other cultures, writing stories,
        building snow sculptures, painting and learning Icelandic.  
      </p>
    </div>
    <div class="certificate-container">
      <a href="./certificate.html" class="cert-container"><h2 class="cert-title">certificate</h2></a>

    </div>
  </body>
</html>
