<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="./certificate.css" />
    <link rel="stylesheet" href="/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Certificate Page</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </nav>
    </header>
    <div class="certificate-container">
      <img
        src="./assets/user-experience-certificate.jpg"
        alt="UI Certificate"
      />
      <hr />
      <img src="./assets/user-certificate.jpeg" alt="UX Certificate" />
      <hr />
      <img src="./assets/google-analytics.jpeg" alt="Google google-analytics" />
    </div>
  </body>
</html>
