<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="./certificate.css" />
    <link rel="stylesheet" href="/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Certificate Page</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </nav>
    </header>
    <div class="certificate-container">
      <img
        src="./assets/certificate/user-experience-certificate.jpg"
        alt="User Interface Certificate"
      />
      <hr />
      <img
        src="./assets/certificate/user-certificate.jpeg"
        alt="User Experience Certificate"
      />
      <hr />
      <img
        src="./assets/certificate/cert-wcag.png"
        alt="Introduction to UX Design for Accessibility and WCAG 2.0 Certificate"
      />
      <img
        src="./assets/certificate/google-analytics.jpeg"
        alt="Google Analytics Certificate - Beginners"
      />
    </div>
  </body>
</html>
