<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="./contact.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <title>Contact</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </nav>
    </header>
    <div class="email-phone-number">
      <button class="email-button">Email me</button></a>
      <hr>
      <a href="mailto:nishihaider@yahaoo.com">
      <hr>
      <hr>
      <a href="tel:16465225531"><button class="call-button">Call me</button></a>
      <hr>
    </div>   
    </div>
    <div class="social-media-container">
      <a target="_blank" class="twitter" href="https://twitter.com/nisha_ux"><img
        src="./assets/twitter_317720.png" 
        width="70" height="100" target="_blank"></a>
      <a target="_blank" class="linkedin" href="https://www.linkedin.com/in/nisha-haider/"><img 
          src="./assets/linkedin.png" 
          width="70" height="100" target="_blank"></a>
      <a target="_blank" class="github" href="https://github.com/jassynyc2020"><img 
            src="./assets/github.png" 
            width="70" height="100" target="_blank"></a>
    </div>
  </body>
</html>
