<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="./contact.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Contact</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </nav>
    </header>
    <div class="email-phone-number">
      Email<a href="mailto:nishihaider@yahaoo.com">nishihaider@yahoo.com</a>
      <a href="16465225531">Phone 1-646-522-5531</a>
    </div>
    <div class="mypic">
      
    </div>
    <div class="social-media-container">
      <a
        target="_blank"
        href="https://twitter.com/nisha_ux"
        class="fa fa-twitter"
      ></a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/nisha-haider/"
        class="fa fa-linkedin"
      ></a>
      <a
        target="_blank"
        href="https://github.com/jassynyc2020"
        class="fa fa-github"
      ></a>
    </div>
    <!-- <i class="fas fa-arrow-left"></i> -->
  </body>
</html>
