* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans";
}
img {
  width: 100%;
}
.btn {
    background-color: lightblue;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-size: x-large;
    border-radius: 30px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }