<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Fliers</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </div>
    </header>
    <div class="fliers-container">
      <img
        class="flier-image"
        src="./assets/orka-flier.jpeg"
        alt="Orka Event Flier"
      />
      <img
        class="flier-image"
        src="./assets/poetry-slam-flier.jpeg"
        alt="Poetry Slam Event Flier"
      />
      <img
        class="flier-image"
        src="./assets/senior-flier.jpeg"
        alt="Senior Event Flier"
      />
    </div>
  </body>
</html>
