<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Logos</title>
  </head>
  <body>
    <nav class="nav-bar">
      <a class="nav-bar-back" href="/index.html">
        <button class="btn back">Back</button></a
      >
    </nav>
    <div class="logos">
      <img
        class="logo"
        src="/assets/swagberry-logo.jpeg"
        alt="Swagberry World Logo"
      />
      <img class="logo" src="/assets/imagine-logo.jpeg" alt="Imagine Logo" />
      <img class="logo" src="/assets/dkc-logo.jpeg" alt="Deaf Kids Code Logo" />
      <img
        src="/assets/dkc-blm-logo.jpeg"
        alt="Deaf Kids Code Black Lives Matter Logo"
      />
    </div>
  </body>
</html>
