<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="./resume.css" />
    <link rel="stylesheet" href="./media.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Media Projects</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </div>
    </header>
    <div class="media-title">
      <h2 class="dkc-title">Computer Coding videos for online course.</h2>
      <h3>
        Created an educational video series for Deaf Kids Code and Auburn
        University to teach people who are deaf computer coding.
      </h3>
    </div>
    <div class="dkc-video">
      <video width="320" height="240" autoplay>
        <source
          src="./assets/intro-computer-science-11-9.mp4"
          type="video/mp4"
        />
        <source
          src="./assets/intro-computer-science-11-9.mp4"
          type="video/ogg"
        />
      </video>
    </div>
  </body>
</html>
