* {
  font-family: "Khula", sans-serif;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
body {
  background: ;
}
header {
  display: flex;
  justify-content: center;
}
img,
video {
  width: 100%;
}
