* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
body {
  background: ;
}
header {
  display: flex;
  justify-content: center;
}
img,
video {
  width: 100%;
}
.mysensar-hero-des {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: "Khula", sans-serif;;
}
.mysensar-task {
  display: flex;
  justify-content: center;
  
}