<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="./media.css" />
    <link rel="stylesheet" href="./mysensar.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <title>mySensAR</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </div>
    </header>
    <div class="gif">
      <iframe
        src="https://giphy.com/embed/Y966vaxBQykVi"
        width="480"
        height="188"
        frameborder="0"
        class="giphy-embed"
        allowfullscreen
      ></iframe>
      <p>
        <a
          href="https://giphy.com/gifs/please-construction-patient-Y966vaxBQykVi"
        ></a>
      </p>
    </div>
      <h2 class="mysensar-hero-des">My SensAR is an innovative eHealth app that was designed to give more power to those who do not 
        have access to healthcare.  It saves money, time and worries over going to a doctor's office, especially for those who are reluctant
        to see a doctor due to fear or inconvenience.
      </h2>
      <h3>Role: I worked with a team of four. Our initial tasks was to
          research our competition, the eHealth app market, our users/personas and initial interviews.
      </h3>
      <h2>Competitor and Market Analysis:</h2>
        <p>As I was researching the competition, it was discovered that 
          we had a unique feature (augmented reality) that not even our top competitor, WebMD, offered.
          The Market demand is projected to skyrocket in the next few years. Afterall, the endgame is to retain
          users and generate income! 
        </p>
    <h2>Personas:<h2>
        <p>We focused on three distinct users which most of the population consists of:
            The Hippie (Hipster) - The Cost Sensitive - The Uninsured
        </p>
    <h2>Storyboard:<h2>
        <p>I created a scenario of a girl who is sick in bed and is scared of going to the doctors.  What is she
            thinking. What thoughts are going through her mind. Who does she turn to for help.  Where does she go.
        </p> 
    <h2>User Flow:<h2>
        <p>After creating an initial userflow or "Happy Path", we designed the first iteration and conducted
            user feedback.
         </p>
    <h2>1st Iteration:<h2>
        <p>To cover any liability, we had the first landing page our "Disclaimer".</p>
    <h2>Feedback Research:<h2>
        <p>Designed the 1st iteration using Figma.  Each of us had a user from each of our Personas
           to test out the app. In order to get the most honest feedback, we had the users 
           talk out loud as they are going through the functions during the recorded sessions. 
           Dr. S. Hassam was our medical consultant who gave us very valuable feedback.
        </p>
        <img src="./assets/mysensar-screens-dec-2020.png" alt="my sensar's screens" class="screens">
        </p>
        <p>After our 2nd iteration, we conducted another user testing. Then finally, we decided
           on a Design System.</p>
        <img src="./assets/design-system-mysensar.jpeg" alt="my sensar's design system" class="design-system-image">
    <h2 class="demo-title">My SensAR demo</h2> 
        <video width="640" height="480" controls class="mysensar-video">
          <source src="./assets/MySensAR-Final.mp4" type="video/mp4">
          <source src="./assets/MySensAR-Final.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>
</body>
</html>