<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="./resume.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Resume</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </nav>
    </header>
   
  </body>
</html> -->
