<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="./sidegigs.css" />
    <link rel="stylesheet" href="./logos.css" />
    <link rel="stylesheet" href="./media.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Side Gigs</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </nav>
    </header>
    <div class="sidegigs-container">
        <div class="fliers">
            <li class="bottom-nav-list__item two">
            <a class="bottom-nav-list__link" href="./flier.html"
            ><h2 class="bottom-title">Fliers</h2></a>
            <h3 class="bottom-description">Adobe Photoshop, Canva</h3>
            </li>
        </div>
        <div class="media">
            <li class="bottom-nav-list__item three">
            <a class="bottom-nav-list__link" href="./media.html"
            >
            <div class="media-button"><h2 class="bottom-title">Videos</h2</a>
              <h3 class="bottom-description">iMovie, Kapwing</h3>
            </div>
            </li>
        </div>
        <div class="logos">
          <li class="bottom-nav-list__item one">
          <a class="bottom-nav-list__link" href="/components/logos.html"
          ><h2 class="bottom-title">Logos</h2></a>
          <h3 class="bottom-description">Adobe Photoshop, Canva</h3>
          </li>
      </div>
      </div>
  </body>
</html>
