* {
  font-family: "Khula", sans-serif;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
header {
  display: flex;
}
img,
video {
  width: 100%;
}
li {
  list-style: none;
}
a {
  display: flex;
  justify-content: center;
}
a:hover {
  background-color: var(--accent-social-3);
}
/* Global styles */
:root {
  --primary-color: #ffffff;
  --accent-color-1: #120644;
  --accent-color-2: #dcf5f7;
  --accent-social-3: #f2a7f7;
}
.btn {
  width: 100px;
  height: 30px;
  background-color: var(--accent-color-1);
  font-family: "Khula", sans-serif;
  font-size: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  border-radius: 45px;
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.back {
  box-shadow: 5px 7px #888888;
  background-color: var(--accent-color-1);
}
.sidegigs-container {
  display: grid;
  justify-content: center;
  margin-top: 90px;
}
.logos,
.fliers,
.media {
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 2px solid var(--accent-color-1);
}
.logos:hover,
.fliers:hover,
.media:hover {
  opacity: 0.7;
  background-color: var(--accent-social-3);
}
.bottom-title {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bottom-description {
  text-decoration: none;
  color: black;
  font-size: 0.5rem;
}
.fliers,
.media,
.logogs {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.bottom-nav-list__item,
.bottom-nav-list__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.side-title,
h2 {
  text-decoration: none;
}
@media all and (max-width: 520px) {
  .sidegigs-container {
    display: flex;
    justify-content: center;
  }
  li {
    display: block;
    margin: 5px 0px;
  }
  .bottom_buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
  }
}
@media all and (max-width: 1100px) {
  .sidegigs-container {
    display: flex;
    justify-content: center;
  }
  .bottom_buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
  }
}
