<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="./mysensar.css">
    <link rel="stylesheet" href="./veality.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Case Studies</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </div>
    </header>
    <div class="case-container">
        <div class="case mysensar">
          <h2 class="case-name">My SensAR</h2>
          <p class="case-description">MySensar is an eHealth app that gives people
            more control over their health with self-education and self-diagnosis.
          </p>
        </a>
        <p class="case-descr">Mobile App, Market Analysis, Competitor Research, Prototyping, Wireframing, Research, User Testing.</p>
        <a class="mysensar-link" href="./components/mysensar.html"><h3 class="mysensar-button">View more ></h3>
        </div>
        <hr>
        <div class="case veality">
          <h2 class="case-name">Veality</h2>
          <p class="case-description">Veality is an entertainment app that
            is specifically designed for the senior adult users.
          </p>
          <a href="./veality.html" class="veality-link"></a>
          <p class="case-descr">Mobile App, Prototyping, Wireframing, User Testing, Research, Market Analysis, Usablity Testing.</p>
          <a class="veality-link" href="./components/veality.html"><h3 class="veality-button">View more ></h3>
        </div>
      </div>
        <hr>
      </div>
  </body>
</html>
