<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="./media.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap" rel="stylesheet">

    <title>mySensAR</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </div>
    </header>
    <h3 class="mysensar-hero-des">My SensAR is an innovative eHealth app that was designed to give more power to those who do not 
        have access to healthcare.  It saves money, time and worries over going to a doctor's office, especially for those who are reluctant
        to see a doctor due to fear or inconvenience.
    </h3>
    <h3>I worked with a team of four. Our initial tasks was to
        research our competition, the eHealth app market, our users/personas and initial interviews.
    </h3>
   Competitor and Market Analysis:
   <p>As I was researching the competition, it was discovered that 
       we had a unique feature (augmented reality) that not even our top competitor, WebMD, offered.
       The Market demand is projected to skyrocket in the next few years. Afterall, the endgame is to retain
       users and generate income! 
   </p>
        Personas:
    <p>We focused on three distinct users which most of the population consists of:
        The Hippie (Hipster) - The Cost Sensitive - The Uninsured
    </p>
    Storyboard:
    <p>I created a scenario of a girl who is sick in bed and is scared of going to the doctors.  What is she
        thinking. What thoughts are going through her mind. Who does she turn to for help.  Where does she go.
    </p> 
        User Flow:
    <p>After creating an initial userflow or "Happy Path", we designed the first iteration and conducted
        user feedback.
    </p>
    1st Iteration:
    <p>To cover any liability, we had the first landing page our "Disclaimer".</p>
        Feedback Research:
    <p>Designed the 1st iteration using Figma.  Each of us had a user from each of our Personas
        to test out the app. In order to get the most honest feedback, we had the users 
        talk out loud as they are going through the functions during the recorded sessions. 
        Dr. S. Hassam was our medical consultant who gave us very valuable feedback.
    </p>
    </p>
    After our 2nd iteration, we conducted another user testing. Then finally, we decided
    on a Design System. 
Check out our final design:
    <div class="mysensar-video">
        <!-- <iframe
          src="https://drive.google.com/file/d/1AUa9vqJaKi91Xbq8hu8Lr88BCb9sGRbG/view?usp=sharing"
          width="240"
          height="180"
        ></iframe> -->
      </div> 

    </body>
    </html> 