<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="./media.css" />
    <link rel="stylesheet" href="./logos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Side Gigs</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </div>
    </header>
      <div class="side-gigs-container">
        <div class="logos-link">
        <a href="./logos.html"><h2>Logos</h2></a>
        </div>
        <div class="fliers-link">
          <a href="./flier.html"><h2>Fliers</h2></a>
          </div>
          <div class="media-link">
            <a href="./media.html"><h2>Media</h2></a>
            </div>
      </div>
    </div>
  </body>
</html>
