<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./flier.css" />
    <link rel="stylesheet" href="/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Khula:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Veality</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a class="nav-bar-back" href="/index.html">
          <button class="btn back">Back</button></a
        >
      </div>
    </header>
    <h3 class="veality-hero-des">
      Veality is an app where users can browse and purchase virtual reality
      experiences at a Veality location near them. Main purpose of the app, was
      to attract the senior adult users who are the fastest-growing group of
      smartphone users. By simplifying the functions, it would allow them to
      purchase them as gifts for their friends and family members without any
      hassles.
    </h3>
    <p>
      I worked alone on this project. I first set out to research my users and
      the competition
    </p>
    User Research - Guerilla Testing
    <p>
      I chose to conduct my user research at the Malls and Coffeeshops due to
      these locals being a favorite daytime hangout for this particular
      demographic.
    </p>
    Competition and Market Analysis
    <p>
      The virtual reality market is projected to explode to 120 Billion Dollars
      by the year 2026. Most of the competitors were just a few start-ups.
    </p>
    Personas
    <p>
      I decided to add a second user, The Gamer. After my initial interviews, it
      was discovered that grandparents entertainment spending habits are ,most
      of time, influenced by their grandkids (video gamers, in this case!).
    </p>
    Storyboard
    <p>
      A story of a grandfather who has no idea what to buy his grandson for his
      birthday.
    </p>
    1st iteration and User Feedback
    <p>
      After conducting user testing on a low-fidelity mockup using InVision,
      based on the feedback from both users types, re-designed the screens.
    </p>
    How Might We
    <p>
      I came up with 3 categories of how might we make the app easier to use,
      cost-effective and create demand.
    </p>
    User Flow - Happy Path
    <p>
      Final iteration was designed on Adobe XD, keeping in mind a smooth user
      flow experience. Always focusing on the user reaching the end and making
      that final purchase!
    </p>
  </body>
</html>